/* styles.module.css */

.primary,
.secondary {
  border-radius: 4px;
  padding: 16px 8px;
  width: 150px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.primary {
  background-color: theme("colors.purple-2");
  color: theme("colors.white");
}

.secondary {
  background-color: theme("colors.white");
  border: solid 2px theme("colors.purple-2");
  color: theme("colors.purple-2");
}

.primary:hover,
.secondary:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.smallButton {
  width: 7rem;
  height: 2.25rem;
  font-size: 0.9rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
}

.primary.smallButton:hover {
  transform: none;
  transition: none;
  background-color: theme("colors.white");
  color: theme("colors.purple-2");
}

.secondary.smallButton:hover {
  transform: none;
  transition: none;
  background-color: theme("colors.purple-2");
  color: theme("colors.white");
}

.disabledButton {
  background-color: theme("colors.lightGrey");
  color: theme("colors.grey");
  cursor: not-allowed;
}

.primary.disabledButton:hover,
.secondary.disabledButton:hover,
.primary.smallButton.disabledButton:hover {
  transform: none;
  transition: none;
  background-color: theme("colors.lightGrey");
  color: theme("colors.grey");
  cursor: not-allowed;
}

